body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sec-color {
    color: #1d6aa3;
}

a {
    color: #1d6aa3;
}
a:hover {
    color: #184e7f;
}

legend {
    margin-bottom: 0;
}

fieldset form {
    padding-top: 20px;
}


div.container a.brand {
    background: url("../images/key/key_32.png") no-repeat scroll 0 4px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
div.container .hero-unit {
    padding-left: 200px;
    position: relative;
}
div.container .hero-unit .pic {
    background: url("../images/key/key_128.png") no-repeat scroll 0 4px transparent;
    position: absolute;
    height: 128px;
    left: 40px;
    top: 50px;
    width: 128px;
}

div.container footer {
    border-top: 1px solid #ddd;
    margin-top: 50px;
    padding: 5px 0 0 5px;
}

div.container p.backBtn {
    margin-top: 30px;
}

/**
 * Home
 */
div.container div.home {
    position: relative;
}
div.container div.home h2 {
    font-size: 20px;
    line-height: 28px;
    margin-top: 25px;
}
div.container div.home div.addNote {
    position: absolute;
    right: 0;
    top: -7px;
}
div.container div.home div.well ul {
    list-style: none;
    margin: 0;
}
div.container div.home div.well ul li {
    margin: 5px 0 10px;
}
div.container div.home div.well ul li a {
    font-size: 16px;
    line-height: 22px;
}
div.container div.home div.well ul li span.group {
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
}
div.container div.home div.well ul li span.date {
    font-size: 12px;
    line-height: 18px;
}

/**
 * Notes (& Groups)
 */
div.container div.notes h1,
div.container div.groups h1 {
    margin-bottom: 20px;
}
div.container div.notes a.addNote {
    float: right;
    margin-top: 5px;
}
div.container div.notes h2.group {
    float: left;
}
div.container div.notes form.groupFilter {
    float: right;
    margin: 17px 0 0;
}
div.container div.notes table tr .title {
    width: 500px;
}
div.container div.notes table tr .titleSmall {
    width: 300px;
}
div.container div.notes table tr .group {
    width: 184px;
}
div.container div.notes table tr .date {
    width: 160px;
}
div.container div.notes table tr .smallInfo {
    width: 90px;
}
div.container div.notes table tr .funcs a:hover,
div.container div.groups table tr .funcs a:hover {
    text-decoration: none;
}
div.container div.notes table tr .funcs i,
div.container div.groups table tr .funcs i {
    margin: 0 5px;
}
div#epicEditor {
    height: 200px;
    margin-bottom: 20px;
}

div.container div.notes #groupSelectForm input[type="submit"] {
    margin-left: 10px;
}
div.container div.notes #groupMembers ul,
div.container div.notes #selectedGroupMembers ul {
    list-style: none;
    margin: 0;
}
div.container div.notes #groupMembers ul li,
div.container div.notes #selectedGroupMembers ul li {
    padding: 2px 0;
}
div.container div.notes #groupMembers ul i.icon-thumbs-up,
div.container div.notes #selectedGroupMembers ul i.icon-thumbs-down {
    cursor: pointer;
}

/**
 * Groups
 */
div.container div.groups table tr .title {
    width: 250px;
}
div.container div.groups table tr .date {
    width: 160px;
}
div.container div.groups div.rightBox fieldset {
    margin-left: 25px;
}
div.container div.groups div.rightBox ul {
    margin-bottom: 20px;
}
div.container div.groups div.rightBox form {
    margin: 5px 0 5px 0;
}
div.container div.groups div.rightBox form input[type="submit"] {
    margin-left: 10px;
}
div.container div.groups div.rightBox fieldset legend {
    border: none;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
}
