body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sec-color {
    color: #0b1d53;
}

div.container a.brand {
    background: url("../images/key/key_32.png") no-repeat scroll 0 4px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
div.container .hero-unit {
    padding-left: 200px;
    position: relative;
}
div.container .hero-unit .pic {
    background: url("../images/key/key_128.png") no-repeat scroll 0 4px transparent;
    position: absolute;
    height: 128px;
    left: 40px;
    top: 50px;
    width: 128px;
}

div.container footer {
    border-top: 1px solid #ddd;
    margin-top: 50px;
    padding: 5px 0 0 5px;
}

div.container p.backBtn {
    margin-top: 30px;
}

/**
 * Notes (& Groups)
 */
div.container div.notes h1,
div.container div.groups h1 {
    margin-bottom: 20px;
}
div.container div.notes a.addNote {
    float: right;
    nargin-top: 10px;
}
div.container div.notes table tr .title {
    width: 500px;
}
div.container div.notes table tr .date {
    width: 160px;
}
div.container div.notes table tr .smallInfo {
    width: 90px;
}
div.container div.notes table tr .funcs a:hover,
div.container div.groups table tr .funcs a:hover {
    text-decoration: none;
}
div.container div.notes table tr .funcs i,
div.container div.groups table tr .funcs i {
    margin: 0 5px;
}
div#epicEditor {
    height: 200px;
    margin-bottom: 20px;
}

div.container div.notes #groupSelectForm input[type="submit"] {
    margin-left: 10px;
}
div.container div.notes #groupMembers ul,
div.container div.notes #selectedGroupMembers ul {
    list-style: none;
    margin: 0;
}
div.container div.notes #groupMembers ul li,
div.container div.notes #selectedGroupMembers ul li {
    padding: 2px 0;
}
div.container div.notes #groupMembers ul i.icon-thumbs-up,
div.container div.notes #selectedGroupMembers ul i.icon-thumbs-down {
    cursor: pointer;
}

/**
 * Groups
 */
div.container div.groups table tr .title {
    width: 250px;
}
div.container div.groups table tr .date {
    width: 160px;
}
div.container div.groups div.rightBox fieldset {
    margin-left: 25px;
}
div.container div.groups div.rightBox ul {
    margin-bottom: 20px;
}
div.container div.groups div.rightBox form {
    margin: 5px 0 5px 0;
}
div.container div.groups div.rightBox form input[type="submit"] {
    margin-left: 10px;
}
div.container div.groups div.rightBox fieldset legend {
    border: none;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
}
