<?php

return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOSqlite\Driver',
                'params' => array(
                    'host'     => '',
                    'port'     => '',
                    'user'     => '',
                    'dbname'   => '',
                    'password' => '',
                    'memory'   => true
                )
            )
        )
    ),

    'translator' => array(
        'locale' => 'en_US',
    ),

    'logger' => array(
        'activate' => false,
    ),

    'mail' => array(
        'activate' => false,
    ),
);
